/* ______CSS source file_______ */

/* To do: make elements responsive */
/* Keep styles in css instead of moving them to js (cleaner) */


/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________________________________________*/


:root {
/* Color pallet pulled from banner image */
/* CSS HSL */
--barn-red: hsla(12, 70%, 25%, 1);
--flame: hsla(17, 61%, 52%, 1);
--maya-blue: hsla(202, 90%, 69%, 1);
--bright-pink-crayola: hsla(345, 86%, 65%, 1);
--champagne-pink: hsla(24, 90%, 92%, 1);
--softened-black: rgba(0, 0, 0, 0.898);

/* Color pallet pulled from bg img */
--raw-umber: hsla(25, 45%, 42%, 1);
--kobicha: hsla(22, 51%, 25%, 1);
--platinum: hsla(210, 9%, 87%, 1);
--pale-dogwood: hsla(18, 31%, 75%, 1);
--battleship-gray: hsla(0, 0%, 58%, 1);
--french-gray: hsla(225, 3%, 73%, 1);
--french-gray-translucent: hsla(225, 3%, 73%, 0.4);
--tigers-eye: hsla(28, 70%, 42%, 1);
--translucent-white: rgb(255, 255, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

@font-face {
    font-family: dancing-script;
    src:url('../font/dancing-script/DancingScript-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: alex-brush;
    src:url('../font/alex-brush/AlexBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
    /* font-family: sans-serif; */
}


/* _______________Main_______________ */

body {
    background-color: var(--platinum);
    display: grid;
    grid-template-rows: 140px 40px minmax(calc(100vh - 240px), 1fr) 60px;
    /* grid legend --> title | nav (buttons) | content | footer */
    position: relative;
    /* note: minmax can only be used with grid --> used the calc fn to set min value to viewport size - title/header/footer and max value to 1fr*/
    /* height: 100vh; <-- this was causing the bg image to be cut off, as the body height was only the size of the viewport*/
}

body::before {
    content: "";
    background-image: url('../img/bg.jpg');
    background-size: 100vw auto;
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
} 

.title,
button,
#content,
.footer {
    position: relative;
}

h1, h2, h3,
button, .footer {
    font-family: "alex-brush";
}


/* _______________Title_______________ */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    /* font-family: 'alex-brush'; */
    white-space: nowrap;
} 


/* _______________Main Header (Nav)_______________ */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 2px 35px;
    border-radius: 8px;
    margin: 0px 15px;
    border: 1px solid var(--french-gray);
    background: var(--translucent-white);
    color: var(--softened-black);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    font-family: "dancing-script";
    box-shadow: 2px 2px 6px 1px var(--battleship-gray);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s ease;
}


/* _______________Content (General/Home)_______________ */

#content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.headliner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}

.banner,
.menu-item div
 {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
    margin-bottom: 40px;  

     /* Rounded style */
    border-radius: 50%; 

    /* Square img style */
    /* border-radius: 0; */

    /* Border img style */
    border: 30px solid rgb(255, 255, 255, 0.8); 
    /* border-radius: 10px; */
    box-shadow: 2px 2px 6px var(--battleship-gray);

    /* Outline img style */
    /* outline: 30px solid rgb(255, 255, 255, 0.8);
    border: 1px solid var(--platinum);
    box-shadow: 10px 10px 12px 10px var(--battleship-gray); */
    
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    
    /* current info div box-shadow: 
    box-shadow: 2px 2px 6px var(--battleship-gray); */
}

.banner img {
    width: 500px;
    height: auto;
    margin-top: 10px;
    border: 20px solid rgb(255, 255, 255, 0.8);
    border-radius: 40px
}

.info {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--translucent-white);
    box-shadow: 2px 2px 6px var(--battleship-gray);
    margin-bottom: 30px;
}

.info h2 {
    align-self: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.2rem;
}


/* _______________Content (About)_______________ */

.about div:nth-child(4) {
    /* Contact Info div */
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0px;
}

.about div:nth-child(4) h2 {
    /* Contact info header */
    margin-bottom: 18px;
}

.about div:nth-child(4) p {
    /* Contact info - all paragraphs */
    margin-bottom: 7px;
}

.about div:nth-child(4) p:nth-child(3) {
    /* Contact info - email paragraph */
    margin-bottom: 20px;
}

.about div:nth-child(4) p:nth-child(2n + 3) {
    /* Contact info - bolded paragraphs */
    font-weight: 600;
}

/* _______________Content (Menu)_______________ */

.menu-item .info h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2.5rem; 
}

.menu-item img {
    width: 550px;
    height: 430px;
    margin-top: 30px;  
}

.menu-item div:nth-child(13) > h2 {
     /* catering info div */
    margin-bottom: 8px;
}

.menu-item div:nth-child(13) > div {
    /* catering info div */
    /* set span and para to inline  */
    display: inline;
    text-align: center;
}

.menu-item span,
.menu-item div:nth-child(13) > div > p {
    /* set span and para to inline  */
    display: inline;
}

.menu-item span {
    font-style: italic;
}

.menu-item div:nth-child(13) > p:nth-child(2n + 1) {
    font-weight: 700;
}

/* _______________Menu Image Positioning_______________ */

.menu-item div:nth-child(4) > img,
.menu-item div:nth-child(6) > img  {
    /* hot drinks and cold drinks images*/
    object-position: 70% 0%;
}

.menu-item div:nth-child(8) > img {
    /* sandwich img */
    object-position: 50% 70%;
}

.menu-item div:nth-child(10) > img {
    /* desserts image */
    object-position: 60% 0%;
}

.menu-item > div:nth-child(12) > img {
    /* catering img */
    object-position: 100% 0%;
}

.menu-item h3,
.menu-item p {
    /* align-self: center; 
    text-align works better here, otherwise overflow text will be aligned to the left side of div*/
    text-align: center;
}

.menu-item h3 {
    font-weight: 600;
    font-size: 1.4rem;
}

.menu-item p {
    margin-top: 8px;
}

.menu-item > div:nth-child(9) > p:nth-child(11) {
    /* (info div for sandwitches - sides paragraph) */
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 20px;
}

.menu-item h3 {
    margin-top: 20px;
}

/* _______________Footer_______________ */

.footer {
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--french-gray);
    background: var(--translucent-white);
    color: var(--softened-black);
}

.footer-text,
.icon {
    margin-top: 10px;
}

.icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px
}

.footer-icon > a > .svg{
    height: 40px;
    width: auto;
    /* pointer-events: none; */
}
