/* ______CSS source file_______ */

/* To do: make elements responsive */
/* Keep styles in css instead of moving them to js (cleaner) */


/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*__________________________________________*/


:root {
/* Color pallet pulled from banner image */
/* CSS HSL */
--barn-red: hsla(12, 70%, 25%, 1);
--flame: hsla(17, 61%, 52%, 1);
--maya-blue: hsla(202, 90%, 69%, 1);
--bright-pink-crayola: hsla(345, 86%, 65%, 1);
--champagne-pink: hsla(24, 90%, 92%, 1);
--softened-black: rgba(0, 0, 0, 0.898);

/* Color pallet pulled from bg img */
--raw-umber: hsla(25, 45%, 42%, 1);
--kobicha: hsla(22, 51%, 25%, 1);
--platinum: hsla(210, 9%, 87%, 1);
--pale-dogwood: hsla(18, 31%, 75%, 1);
--battleship-gray: hsla(0, 0%, 58%, 1);
--french-gray: hsla(225, 3%, 73%, 1);
--french-gray-translucent: hsla(225, 3%, 73%, 0.4);
--tigers-eye: hsla(28, 70%, 42%, 1);
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

/* _______________Main_______________ */

body {
    background-color: var(--platinum);
    display: grid;
    /* grid-template-rows: 70px 50px 1fr 30px; */
    grid-template-rows: 70px 50px minmax(calc(100vh - 150px), 1fr) 30px;
    /* note: minmax can only be used with grid --> used the calc fn to set min value to viewport size - title/header/footer and max value to 1fr*/
    /* height: 100vh; <-- this was causing the bg image to be cut off, as the body height was only the size of the viewport*/
    position: relative;
}

body::before {
    content: "";
    background-image: url('../img/bg.jpg');
    background-size: 100vw auto;
    
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
} 

.title,
button,
#content,
.footer {
    position: relative;
}

/* _______________Title_______________ */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

/* _______________Header_______________ */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 5px 30px;
    border-radius: 8px;
    margin: 0px 5px;
    border: 2px solid var(--raw-umber);
    background: var(--pale-dogwood);
    color: var(--softened-black);
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: 2px 2px 6px var(--battleship-gray);
}

/* _______________Content (General)_______________ */

#content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.headliner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner,
.menu-item div
 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 350px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 10px; 
    box-shadow: 2px 2px 6px var(--battleship-gray);
    /* offset-x | offset-y | blur-radius | spread-radius | color */

}

.intro {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 2px 2px 6px var(--battleship-gray);
}

.intro h2 {
    align-self: center;
    /* margin-bottom: 20px; */
    font-weight: 700;
}

/* _______________Content (Menu)_______________ */

.menu-item img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 50%; 
    border: 30px solid rgb(255, 255, 255, 0.8);
    /* border: 2px solid var(--kobicha); */
    box-shadow: 0px 1px 10px 1px var(--battleship-gray);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

.pastries > img {
    object-fit: cover;
    /* object-position: 70% 50%; */
}

.hot-drinks > img {
    object-position: 70% 0%;
}

.cold-drinks > img {
    object-position: 70% 0%;
}

.sandwiches > img {
    object-position: 50% 70%;
}

.menu-item h3,
.menu-item p {
    /* align-self: center; 
    text-align works better here, otherwise overflow text will be aligned to the left side of div*/
    text-align: center;
}

.menu-item h3 {
    margin-top: 20px;
}

/* _______________Footer_______________ */

.footer {
    font-weight: 700;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pale-dogwood);
    color: var(--softened-black);
    border: 2px solid var(--raw-umber);
    /* margin-top: 30px; */
}