/* ______CSS source file_______ */

/*CSS Meyer Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*_______________Colour Scheme___________________________*/


:root {
--softened-black: rgba(0, 0, 0, 0.898);
--translucent-white: rgb(255, 255, 255, 0.8);

/* Color pallet pulled from bg img */
--platinum: hsla(210, 9%, 87%, 1);
--battleship-gray: hsla(0, 0%, 58%, 1);
--french-gray: hsla(225, 3%, 73%, 1);
}


/*_______________Root Styles________________________*/

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

@font-face {
    font-family: dancing-script;
    src:url('../font/dancing-script/DancingScript-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: alex-brush;
    src:url('../font/alex-brush/AlexBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 16px;
}


/* _______________Main_______________ */

body {
    background-color: var(--platinum);
    display: grid;
    grid-template-rows: 140px 40px minmax(calc(100vh - 240px), 1fr) 60px;
    /* grid legend --> title | nav (buttons) | content | footer */
    position: relative;
}

body::before {
    content: "";
    background-image: url('../img/bg.jpg');
    background-size: 100vw auto;
    background-repeat: repeat-y;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
} 

.title,
button,
#content,
.footer {
    position: relative;
}

h1, h2, h3,
button, .footer {
    font-family: "alex-brush";
}


/* _______________Title_______________ */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

h1 {
    font-size: 4.5rem;
    font-weight: 600;
    white-space: nowrap;
} 


/* _______________Main Header (Nav)_______________ */

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 2px 35px;
    border-radius: 8px;
    margin: 0px 15px;
    border: 0px solid var(--french-gray);
    background: var(--translucent-white);
    color: var(--softened-black);
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    font-family: "dancing-script";
    box-shadow: 2px 2px 6px 1px var(--battleship-gray);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
}

button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s ease;
}

button:focus {
outline: 2px solid var(--battleship-gray);
}

a:focus {
    outline: 1px solid var(--battleship-gray);
    border-radius: 1px;
}


/* _______________Content (General/Home)_______________ */

#content {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.headliner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 20px;
}

.banner,
.menu-item div
 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content img {
    object-fit: cover;
    margin-bottom: 40px;  
    border-radius: 50%; 
    border: 30px solid rgb(255, 255, 255, 0.8); 
    box-shadow: 2px 2px 6px var(--battleship-gray);
}

.banner img {
    width: 500px;
    height: auto;
    margin-top: 10px;
    border: 20px solid rgb(255, 255, 255, 0.8);
    border-radius: 40px
}

.info {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-self: center;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--translucent-white);
    box-shadow: 2px 2px 6px var(--battleship-gray);
    margin-bottom: 30px;
}

.info h2 {
    align-self: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2.2rem;
}


/* _______________Content (About)_______________ */

.about div:nth-child(4) {
    /* Contact Info div */
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0px;
}

.about div:nth-child(4) h2 {
    /* Contact info header */
    margin-bottom: 18px;
}

.about div:nth-child(4) p {
    /* Contact info - all paragraphs */
    margin-bottom: 7px;
}

.about div:nth-child(4) p:nth-child(3) {
    /* Contact info - email paragraph */
    margin-bottom: 20px;
}

.about div:nth-child(4) p:nth-child(2n + 3) {
    /* Contact info - bolded paragraphs */
    font-weight: 600;
}


/* _______________Content (Menu - Text and Layout)_______________ */

.menu-item .info h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 2.5rem; 
}

.menu-item h3,
.menu-item p {
    text-align: center;
}

.menu-item h3 {
    font-weight: 600;
    font-size: 1.4rem;
}

.menu-item p {
    margin-top: 8px;
}

.menu-item > div:nth-child(9) > p:nth-child(11) {
    /* (info div for sandwitches - sides paragraph) */
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 20px;
}

.menu-item h3 {
    margin-top: 20px;
}


/* ____________Content (Menu - Image Style and Positioning)____________ */

.menu-item img {
    width: 550px;
    height: 430px;
    margin-top: 30px;  
}

.menu-item div:nth-child(2) > img {
    object-position: 0% 45%;
}

.menu-item div:nth-child(4) > img,
.menu-item div:nth-child(6) > img  {
    /* hot drinks and cold drinks images*/
    object-position: 70% 0%;
}

.menu-item div:nth-child(8) > img {
    /* sandwich img */
    object-position: 0% 0%;
}

.menu-item div:nth-child(10) > img {
    /* desserts image */
    object-position: 60% 0%;
}

.menu-item > div:nth-child(12) > img {
    /* catering img */
    object-position: 100% 0%;
}


/* _______________Content (Menu - Catering Div)_______________ */

.menu-item div:nth-child(13) > h2 {
    /* catering info div */
   margin-bottom: 8px;
}

.menu-item div:nth-child(13) > div {
   /* catering info div */
   /* set span and para to inline  */
   display: inline;
   text-align: center;
}

.menu-item span,
.menu-item div:nth-child(13) > div > p {
   /* set span and para to inline  */
   display: inline;
}

.menu-item span {
   font-style: italic;
}

.menu-item div:nth-child(13) > p:nth-child(2n + 1) {
   font-weight: 700;
}

/* _______________Footer_______________ */

.footer {
    font-weight: 700;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--french-gray);
    background: var(--translucent-white);
    color: var(--softened-black);
}

.footer-text {
    margin-top: 16px;
}

/* .footer-icon {
    display: flex;
    margin-left: 8px
} */

.footer-icon > a {
    display: flex;
    margin-left: 8px;
}

.footer-icon > a > .svg{
    height: 40px;
}

.svg:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.3s ease;
}



